* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
        Mozilla Headline: titulos
        Google sans code: texto
    */
    font-family: 'Google Sans Code', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html, body {
    overflow-x: hidden;
}

title {
    display: none;
}

body {
    background: #003C43;
    color: #77B0AA;
}

#menuPlay {
    width: 100vw;
    height: 100vh;
}
.header {
    display: flex;
    align-items:normal;
    justify-content: center;
    width: 100vw;
    height: 10%;
}
/* .titleMenu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.puntosGeneralInicio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
} */